<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%-include("./partials/nav.ejs") %>

    <div class = "details content">
        <h2><%=post.title %></h2>
        <div class = "content">
            <img src = "/image/<%= post.imageId %> " width = "375" alt="post ">
            <p>Description: <%= post.description %></p>
            <p>Condition: <%= post.condition %></p>
            <p>Price: $<%= post.price %></p>
            <p>Location: <%= post.location %></p>
        </div>
        <!--When the user clicks on the edit button, they are routed to a new page. Made by Frank-->
        <a class="edit" href="/posts/<%= post._id %>/edit">edit</a>  
        <a class = "delete" data-doc="<%= post._id %>">delete</a>
         

    </div>

<script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>
</body>
     <!-- Footer: links to other pages-->
    <%- include('./partials/footer.ejs') %>
</html>