<!DOCTYPE html>
<html>

    <!-- Navigation menu: links to other pages -->
    <%- include('./partials/nav.ejs') %>

    <!-- Header: links to other pages -->
    <%- include('./partials/head.ejs') %>
    

<body>
    <div class = "posts content">
        <h2>Posts:</h2>
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class ="card">
                    <a class="single" href=/<%= post._id %>>
                    <!-- Made by William Zheng, 1/30 -->
                    <img src = "/image/<%= post.imageId %>" alt="post ">
                    <h3 class="title"><%= post.title %></h3>
                    </a>
                    <p class="description"><%= post.description %></p>
                    <p class="condition">Condition: <%= post.condition %></p>
                    <p class="categories">Categories: <%= post.categories && post.categories.length ? post.categories.join(', ') : 'None' %></p>
                    <p class="price">Price: $<%= post.price %></p>
                    <p class="location">Location: <%= post.location %></p>
                    <p class="author">Posted by: <%= post.author %></p>
                </div>

             <% }) %>
         <% } else { %>
             <p>There are no posts to display...</p>
         <% } %>
    </div>
</body>
    <!-- Footer: links to other pages-->
    <%- include('./partials/footer.ejs') %>
</html>
